.file-section {
    margin-top: 100px;
    padding: 1rem 0;

    h2 {
        color: #000;
    }

    // @media (min-width: 768px) {
    //     padding: 2rem 0;
    // }
    .container {
        overflow: scroll;
    }

    table {
        .thead-dark {
            th {
                background-color: #002743;
            }
        }

        tr.share-feat {
            a {
                color: #002743;
                text-decoration: none;
            }

            a:hover {
                color: #6cb3fb;
                text-decoration: none;
            }
        }
    }
}